.MainImmedia {
  width: 100%;
}

.ImmediaHeader {
  min-height: 110px;
  max-height: 180px;
  background: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.ImmediaBackground {
  display: none;
}

.Participants {
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

.videoStream {
  display: none;
}

.VideoName {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.VideoNameMe {
  border: 2px solid var(--color-chat-active);
}

.VideoNameParticipants {
  border: 2px solid gray;
}

.CanvasVideo {
  margin: 5px;
}

.Nickname {
  font-size: 0.7em;
  font-weight: bold;
  width: 70px;
  text-align: center;
}

.Awareness {
  --base-top-pos: 6rem;
  position: absolute;
  right: max(1rem, env(safe-area-inset-right));
  top: var(--base-top-pos);
  z-index: var(--z-scroll-down-button);
  width: fit-content;
  text-transform: none;
}

// .AwarenessIcon {
//   margin-right: 2px;
// }