.immedia-presence {
  width: 100%;
}

.immedia-header {
  min-height: 110px;
  max-height: 180px;
  background: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.immedia-background {
  display: none;
}

.rows {
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

.video-me {
  display: none;
}

.participant {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.participant-me {
  border: 2px solid var(--color-chat-active);
}

.participant-not-me {
  border: 2px solid gray;
}

.photo-canvas {
  margin: 5px;
}

.photo-caption {
  font-size: 0.7em;
  font-weight: bold;
  width: 70px;
  text-align: center;
}

.enable-disable-awareness {
  --base-top-pos: 6rem;
  position: absolute;
  right: -9rem;
  top: var(--base-top-pos);
  z-index: var(--z-scroll-down-button);
  width: fit-content;
  text-transform: none;
  transition: all 0.5s;
  &:hover {
    transform: translateX(-140px);
    transition: transform 0.5s ease-in;
  }
}
